{% extends 'base.html' %}
{% block title %}CRUD - Listas de Pessoas{% endblock %}
{% block content %}
{% load static %}
    <!-- container -->
    <div class="container">
        <h1>Lista de pessoas</h1>
        <hr>
        <!-- lista de pessoas -->
        <ul>
            {% for pessoa in pessoas %}
                <li>
                    <b>ID: </b>{{ pessoa.id_pessoa }} | 
                    <b>Nome: </b>{{ pessoa.nome }} |
                    <b>E-mail: </b>{{ pessoa.email }} |
                    <b>CPF: </b>{{ pessoa.cpf }} |
                    <a href="{% url 'alterar_pessoa' pessoa.id_pessoa %}">Alterar</a> |
                    <a href="{% url 'deletar_pessoa' pessoa.id_pessoa %}">Excluir</a>
                </li>
            {% empty %}
                <li>Nenhuma pessoa cadastrada</li>
            {% endfor %}
        </ul>
    </div>
    <!-- fim do container -->
{% endblock %}